body {
 	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-family: 'Arima Madurai', cursive;
}

img.resize {
  max-width:20%;
  max-height:20%;
}

#bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url('images/sidebarbackground.png');
    background-size: 100% 100%;
}