body {
 	font-family: 'Source Sans Pro', sans-serif;
 	margin: 3%;
 	padding: 3%;
 	background-image: url("images/sidebarbackground.png");
    background-color: #cccccc;
}

html {
	background-image: url("images/sidebarbackground.png");
    background-color: #cccccc;
}

h1, h2, h3, h4, h5 {
	font-family: 'Arima Madurai', cursive;
	font-style: bold;
}

img.resize {
  max-width:17.5%;
  max-height:17.5%;
}