body {
	background-image: url("images/sidebarbackground.png");
	background-repeat: no-repeat;
}

body p {
 	font-family: 'Source Sans Pro', sans-serif;
}

h1 h2 h3 h4 h5 {
	font-family: 'Arima Madurai', cursive;
}

img.resize {
  max-width:20%;
  max-height:20%;
}

div {
	padding:10%;
}