@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
p {
    font-family: 'Josefin Sans', sans-serif;
}
html {
    background-color: #CCC;
}
a {
    color: #7F8AE3;
}

.aboutme .container {
    padding: 20px 30px 30px 0px;
    width: 100%;
    margin-left: 75px;
}
.aboutme .container p {
    font-size: 18px;
    padding-left: 5px;
    font-weight: 200;
}

.myprojects {

}
.myprojects .container {
    padding: 20px 30px 30px 0px;
    width: 100%;
    margin-left: 75px;
}

.myresume {

}
.myresume .container {
    min-height: 300px;
    padding: 20px 30px 30px 0px;
    width: 100%;
    margin-left: 75px;
}

.content p {
    line-height: 30px;
    font-size: 16px;
}

.sidebar-brand {
    font-size: 25px;
}
.navborder {
    border: dotted;
    background-color: #000000;
    background-color: rgba(0, 0, 0, .10);
    text-align: center;

}
.nav-sidebar { 
    width: 20%;
}
.nav-sidebar a {
    font-family: 'Josefin Sans', sans-serif;
    color: #7F8AE3;
    border-radius: 4px 0 0 4px;
}
.nav-sidebar .active a {
    font-family: 'Marmelad', sans-serif;
    background-color: #91CCC6; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666; 

}
.nav-sidebar .active a:hover {
    background-color: #FFF;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

.bottomsidebar {
    position: fixed;
    margin-bottom: 0;
    padding: 0 0 0 0;
}

#fixtobottom {
}

#bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url('../includes/images/sidebarbackground.png');
    background-size: 100% 100%;
}